In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/processed/student-performance-dataset.csv')

In [3]:
df

In [4]:
df.shape

In [5]:
df_null = df[df.isnull().any(axis=1)]

In [6]:
df_null

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
dtypes: int64(16), object(17)
memory usage: 269.3+ KB

In [8]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [9]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000,1044.000000
mean,16.726054,2.603448,2.387931,1.522989,1.970307,0.264368,3.935824,3.201149,3.156130,1.494253,2.284483,3.543103,4.434866,11.213602,11.246169,11.341954
std,1.239975,1.124907,1.099938,0.731727,0.834353,0.656142,0.933401,1.031507,1.152575,0.911714,1.285105,1.424703,6.210017,2.983394,3.285071,3.864796
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,9.000000,9.000000,10.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [10]:
df.describe().round(2)

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00,1044.00
mean,16.73,2.60,2.39,1.52,1.97,0.26,3.94,3.20,3.16,1.49,2.28,3.54,4.43,11.21,11.25,11.34
std,1.24,1.12,1.10,0.73,0.83,0.66,0.93,1.03,1.15,0.91,1.29,1.42,6.21,2.98,3.29,3.86
min,15.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,0.00
25%,16.00,2.00,1.00,1.00,1.00,0.00,4.00,3.00,2.00,1.00,1.00,3.00,0.00,9.00,9.00,10.00
50%,17.00,3.00,2.00,1.00,2.00,0.00,4.00,3.00,3.00,1.00,2.00,4.00,2.00,11.00,11.00,11.00
75%,18.00,4.00,3.00,2.00,2.00,0.00,5.00,4.00,4.00,2.00,3.00,5.00,6.00,13.00,13.00,14.00
max,22.00,4.00,4.00,4.00,4.00,3.00,5.00,5.00,5.00,5.00,5.00,5.00,75.00,19.00,19.00,20.00

In [11]:
df['age'].describe().round(2)

count    1044.00
mean       16.73
std         1.24
min        15.00
25%        16.00
50%        17.00
75%        18.00
max        22.00
Name: age, dtype: float64

In [12]:
df['failures'].describe().round(2)

count    1044.00
mean        0.26
std         0.66
min         0.00
25%         0.00
50%         0.00
75%         0.00
max         3.00
Name: failures, dtype: float64

In [13]:
df['age'].describe().round(2)

count    1044.00
mean       16.73
std         1.24
min        15.00
25%        16.00
50%        17.00
75%        18.00
max        22.00
Name: age, dtype: float64

In [14]:
df['failures'].describe().round(2)

count    1044.00
mean        0.26
std         0.66
min         0.00
25%         0.00
50%         0.00
75%         0.00
max         3.00
Name: failures, dtype: float64

In [15]:
df['famrel'].describe().round(2)

count    1044.00
mean        3.94
std         0.93
min         1.00
25%         4.00
50%         4.00
75%         5.00
max         5.00
Name: famrel, dtype: float64

In [16]:
df['freetime'].describe().round(2)

count    1044.00
mean        3.20
std         1.03
min         1.00
25%         3.00
50%         3.00
75%         4.00
max         5.00
Name: freetime, dtype: float64

In [17]:
df['goout'].describe().round(2)

count    1044.00
mean        3.16
std         1.15
min         1.00
25%         2.00
50%         3.00
75%         4.00
max         5.00
Name: goout, dtype: float64

In [18]:
df['Dalc'].describe().round(2)

count    1044.00
mean        1.49
std         0.91
min         1.00
25%         1.00
50%         1.00
75%         2.00
max         5.00
Name: Dalc, dtype: float64

In [19]:
df['Walc'].describe().round(2)

count    1044.00
mean        2.28
std         1.29
min         1.00
25%         1.00
50%         2.00
75%         3.00
max         5.00
Name: Walc, dtype: float64

In [20]:
df['health'].describe().round(2)

count    1044.00
mean        3.54
std         1.42
min         1.00
25%         3.00
50%         4.00
75%         5.00
max         5.00
Name: health, dtype: float64

In [21]:
df['absences'].describe().round(2)

count    1044.00
mean        4.43
std         6.21
min         0.00
25%         0.00
50%         2.00
75%         6.00
max        75.00
Name: absences, dtype: float64

In [22]:
df['G1'].describe().round(2)

count    1044.00
mean       11.21
std         2.98
min         0.00
25%         9.00
50%        11.00
75%        13.00
max        19.00
Name: G1, dtype: float64

In [23]:
df['G2'].describe().round(2)

count    1044.00
mean       11.25
std         3.29
min         0.00
25%         9.00
50%        11.00
75%        13.00
max        19.00
Name: G2, dtype: float64

In [24]:
df['G3'].describe().round(2)

count    1044.00
mean       11.34
std         3.86
min         0.00
25%        10.00
50%        11.00
75%        14.00
max        20.00
Name: G3, dtype: float64